<!DOCTYPE html>
<html>
  <head>
    <title>Admin Preview Wrapper</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
      #rendering {
        width: 100%;
        height: 100%;
        border: 0;
        overflow: hidden;
      }
    </style>
    <script>
      var vMatch = /(\?|&)v=([^&]*)/.exec(window.location.search)
      var v = vMatch ? vMatch[2] : ''

      var isRenderReady = false
      var latestConfig = undefined

      function CSR () {
        if (latestConfig) {
          window.rendering.contentWindow.CSR(latestConfig.rendering)
        }
        isRenderReady = true
      }

      function SSR () {
        if (latestConfig) {
          isRenderReady = false
          window.rendering.contentWindow.SSR(latestConfig.rendering, latestConfig.outputType)
        } else {
          isRenderReady = true
        }
      }

      function appendAdminScript (cb) {
        const script = window.rendering.contentDocument.createElement('script')
        script.type = 'application/javascript'
        script.src = '{{contextPath}}/dist/engine/admin.js?v=' + v
        script.onload = cb
        window.rendering.contentDocument.body.appendChild(script)
      }

      function appendAdminScriptToRendering () {
        appendAdminScript(CSR)
      }

      function appendAdminScriptToShell () {
        window.rendering.onload = appendAdminScriptToRendering
        appendAdminScript(SSR)
      }

      function render (config) {
        var isSameOutputType = (latestConfig && config && (latestConfig.outputType === config.outputType))

        latestConfig = config

        if (isRenderReady) {
          if (isSameOutputType) {
            CSR()
          } else {
            SSR()
          }
        }
      }
    </script>
  </head>
  <body>
    <iframe id="rendering" onload="appendAdminScriptToShell()"></iframe>
  </body>
</html>
