<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" />
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {{> nav-item label="Politics" }}
      {{> nav-item label="Opinions" }}
      {{> nav-item label="Sports" }}
      {{> nav-item label="Local" }}
      {{> nav-item label="National" }}
      {{> nav-item label="World" }}
      {{> nav-item label="Vue" }}
      {{> nav-item label="Handlebars" }}
    </ul>
  </div>
</nav>
