<div>
  <hr style="margin: 0; border-color: #000; border-width: 4px" />
  <ul class="nav">
    {{> nav-item label="Hurricane Jose" }}
    {{> nav-item label="Irma" }}
    {{> nav-item label="Richard Branson" }}
  </ul>
  <hr style="margin: 0; border-color: #000" />
</div>
