<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <a href="/" class="title" style="color: #000!important;"><h2 class="text-center">The Washington Post</h2></a>
    </div>
  </div>
</div>
